.navbar {
  color: white;
}

body {
  background-color: #f1be5a;
}
a:hover {
  cursor: pointer;
}
.bottom {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .bottom {
    font-size: 0.8rem;
    padding: 0;

  }

  .tableView {
    margin-bottom: 2rem;
  }
  .mainPageBottom {
    display: none;
  }
}
