.filterComponent {
    margin-bottom: 1rem;
    border-bottom: solid 3px;
    border-color: black;
}

h2 {
    margin-top: 1rem;
}
img {
    width: 100%;
    margin: 1rem;
    margin-left: 0;
}

.table {
    border-color: black;
}

.filterRow {
    overflow: hidden;
    margin: 0.5rem;
}
input {
    float: right;
    margin-right: 0%;
    border-radius: 9px;
    border-color: rgb(206, 203, 203);
}
.text {
    float:right;
}
.listInfoText {
    margin-bottom: 1rem;
    align-items: center;

}

.stationRow {
    cursor: pointer;
}

.stationDetail {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    
}
.stationDetailRow {
    border-radius: 1px;
    border-bottom: solid black 1px;
    margin-bottom: 1rem;
}


.arrow:hover {
    cursor: pointer;
}
.bi {
    margin-right: 0;
}
.sort {
    font-weight: var(--bs-body-line-weight);
    
}
.sort:hover {
    cursor: pointer;

}
.selected {
    color: black
}
.spinner-border {
    margin-right: 0.5rem;
}
.headerRow {
    padding-top: 1rem;
}
.journeyDetailTable {
    border-bottom: none;
}
.journeyPicture {
    max-height: 160px;
}
.departureStationDetail {
    margin-bottom: 3rem;
}

.topFive {
    font-weight: 500;
}



@media screen and (max-width: 600px) {
    h2 {
        font-size: 1rem;
    }
    span {
        font-size: 0.8rem;
    }

    input {
        width: 65%;
        font-size: 0.8rem;
        padding: 0.rem;
    }
    .lastRow{
        padding-bottom: 1rem;
    }
    .filterInfo {
        display: none;
    }
    table{
        font-size: 0.6rem;
    }
    .listInfoText {
        font-size: 0.6rem;
    }
    .arrow {
        margin-right: 0;
        padding: 0;
        
    }
    .bi {
        width: 20px;
    }
   
    .loadingText {
        font-size: 0.6rem;
    }
 
    .departureStationDetail {
        margin-bottom: 1rem;
    }
    .returnStationDetail {
        margin-bottom: 2rem;
    }


}

@media screen and (min-width: 600px) {
    input {
        width: 40%;
        margin-right: 30%;
    }
    .infoForMobileUser {
        display: none;
    }


}