.picture {
    height: 0;
    padding-bottom: 15%;
    position: relative;
    width: 100%;
}

.journeysViewPicture {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    top:0;
    left: 0
}
.findJourneyComponent {
    margin-top: 2rem;

}

.newSearchButton {
    position: absolute;
    bottom: 5rem;
    right: 1rem;

}

@media screen and (max-width: 600px) {
    .picture {
        padding-bottom: 20%;
    }
    .journeysViewPicture {
        margin: 0;
    }
    .tableView {
        margin-top: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    .findJourneyComponent {
        font-size: 0.8rem;
        
    }
    .btn {
        font-size: 0.6rem;
    }
    .findInput {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .findInput {
        float: left;
        width: 40%;
        margin-right: 60%;
        margin-bottom: 1rem;
        padding: 0.2rem;
        padding-left: 0.5rem;
        display: block;
    }
    .selectStation:hover {
        font-weight: bold;
    }
   
}