.picture {
    height: 0;
    padding-bottom: 15%;
    position: relative;
    width: 100%;
}

.journeysViewPicture {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    top:0;
    left: 0
}
.findJourneyComponent {
    margin-top: 2rem;

}
.findText {
    display: inline;
}
.alertNotification{
    color: red;

}
.succesInfo {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: black;
    border-radius: 12px;
    font-size: 12px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.4);

}
.hide {
    opacity: 60%;
}
.hide .createNewStationButton:hover {
    cursor:auto;
}




@media screen and (max-width: 600px) {
    .picture {
        padding-bottom: 20%;
    }
    .journeysViewPicture {
        margin: 0;
    }
    .tableView {
        margin-top: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    .findJourneyComponent {
        font-size: 0.8rem;
        margin-top: 1rem;
        
    }
    .btn {
        font-size: 0.6rem;
    }
    .findInput {
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }
 
    .headerSection {
        display: flex;
        justify-content: space-between;
    }

     .createNewComponent {
        font-size: 12px;
    }

    .succesInfo {
        position: fixed;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 20%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 12px;
        border-color: black;
        font-size: 12px;
        box-shadow: 0 4px 8px 2px rgba(0,0,0,0.4);
    }
    
    h5 {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    .findInput {
        float: left;
        width: 40%;
        margin-right: 60%;
        margin-bottom: 1rem;
        padding: 0.2rem;
        padding-left: 0.5rem;
        display: block;
    }
    .selectStation {
        color: black;
    }

    .selectStation:hover {
        font-weight: bold;
    }

    .headerSection {
        display: flex;
        justify-content: space-between;
    }

    .successText {
        font-size: 18px;
    }
}